#bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: aliceblue;
    font-size: 6em;
}
section{
    height: 100vh;
}
body {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.1vw;
}

.umono{
    font-family: 'Ubuntu Mono', monospace;
}

.vertical-center{
    display: flex;
    align-items: center;   
}

#myPic{
    border-radius: 5% 50%;
}

.social a{
    margin: 1vw;
}

nav{
    font-size: 2em;
}