section{
    .full-height{
        height: 100vh;
    }
    h2{
        margin-top: 7vh;
    }

}
body {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 7vh;
}

.umono{
    //font-family: 'Ubuntu Mono', monospace;
}

.vertical-center{
    display: flex;
    align-items: center;   
}

#myPic{
    border-radius: 5% 50%;
}

.social a{
    margin: 1vw;
}