@import "parts/fonts";
@import "parts/viewport-fix-ie10";
@media all and (orientation:landscape) {
    
}
@media all and (orientation:portrait) {
    
}

body{
    background-image: linear-gradient(white 0%, #4286f4 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    section{
        min-height: 100vh;        
    }
    
    
}