@media all and (orientation: portrait) {
    #blocks{
        .col-xs-6{
            width: 40vw;
            height: 40vw;
        }
    }
    #controls{
        top:calc(50% - 15vw + 1.8em);
        left:calc(50% - 15vw);
        width: 30vw;
        height: 30vw;
    }
}

@media all and (orientation: landscape) {
    #blocks{
        .col-xs-6{
            width: 40vh;
            height: 40vh;
        }
    }
    #controls{
        top:calc(50% - 15vh + 1.8em);
        left:calc(50% - 15vh);
        width: 30vh;
        height: 30vh;
    }
}


$font-family: 'Ubuntu', sans-serif;
section{
    min-height: 100vh;

}
body {
    font-family: $font-family;
}

.vertical-center{
    display: flex;
    align-items: center;   
}


#blocks{
    #block1{
        background-color: green;
        border-radius: 100% 0% 0% 0%;
    }
    #block2{
        background-color: red;
        border-radius: 0% 100% 0% 0%;
    }
    #block3{
        background-color: yellow;
        border-radius: 0% 0% 0% 100%;
    }
    #block4{
        background-color: blue;
        border-radius: 0% 0% 100% 0%;
    }
    .col-xs-6{
        border: 0.3em solid black;        
    }
}
#controls{
    border: 0.3em solid black;
    z-index: 1;
    border-radius: 100%;
    position: absolute;
    background-color: white;
}
