@import "parts/normalize";
@import "parts/fonts";
@media all and (orientation:landscape) {
    
    #controls{
        width: calc(40vh - 6px);
        height: calc(40vh - 6px);
        top: calc(20vh + 6px);
        left:calc(20vh + 6px);
    }
    .block{
            width: calc(40vh);
            height: calc(40vh);
    }
}
@media all and (orientation:portrait) {
    
    #controls{
        width: calc(40vw - 3px);
        height: calc(40vw - 3px);
        top: calc(20vw + 6px);
        left: calc(20vw + 6px);
    }
    .block{
        width: 40vw;
        height: 40vw;
    }
}
body{
    margin: 0;
}
#blocksContainer{
    
    .blocks {
        display: flex;
        #block1{
            background-color: green;
            border-top-left-radius: 100%;
        }
        #block2{
            background-color: red;
            border-top-right-radius: 100%;
        }
        #block3{
            background-color: yellow;
            border-bottom-left-radius: 100%;
        }
        #block4{
            background-color: blue;
            border-bottom-right-radius: 100%;
        }
        .block{            
            border: 3px solid black;            
        }
        
    }
}
#controls{
    text-align: center;
    position: absolute;
    border: 3px solid black;
    border-radius: 100%;
    background-color: white;
}
