$font-family: 'Ubuntu', sans-serif;
section{
    min-height: 100vh;

}
body {
    font-family: $font-family;
}

.vertical-center{
    display: flex;
    align-items: center;   
}

#blocks .col-xs-4{
    background-color: yellow;
    min-width: 2vw;
    min-height: 2vw;
    border: 1px solid red;
}