doctype html
html
    head
        title Sandeep Khandewale's portfolio
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")        
        link(rel="stylesheet", href="css/app.css")
        
    body
        div.container-fluid
            div.row
                div.col-xs-10
                    div#intro.pfsection
                        h1 Sandeep Khandewale
                        h3 fullstack web developer
                    div#showcase.pfsection
                        h2 showcase
                        div.row(class="text-center")
                            div.col-xs-4
                                div.thumbnail
                                    img(src="//placehold.it/100")
                                    div.caption
                                        p two
                            div.col-xs-4
                                div.thumbnail
                                    img(src="//placehold.it/100")
                                    div.caption
                                        p cmr
                            div.col-xs-4
                                div.thumbnail
                                    img(src="//placehold.it/100")
                                    div.caption
                                        p jwe
                        div.row(class="text-center")
                            div.col-xs-4
                                div.thumbnail
                                    img(src="//placehold.it/100")
                                    div.caption
                                        p td
                            div.col-xs-4
                                div.thumbnail
                                    img(src="//placehold.it/100")
                                    div.caption
                                        p crm
                            div.col-xs-4
                                div.thumbnail
                                    img(src="//placehold.it/100")
                                    div.caption
                                        p vdstr
                                div.row(class="text-center")
                            div.col-xs-4
                                div.thumbnail
                                    img(src="//placehold.it/100")
                                    div.caption
                                        p dd
                    div#skills.pfsection
                        h2 skills
                        div HTML5, CSS, JavaScript, NodeJS, SQL, NoSQL

                    div#contact.pfsection
                        h2 contact
                            ul
                                li
                                    a(target="_blank",href="https://www.linkedin.com/in/sandeepkhandewale/") 
                                        i(class="fa fa-linkedin-square")
                                li
                                    a(target="_blank",href="https://www.facebook.com/skhandewale") 
                                        i(class="fa fa-facebook-square")
                div.col-xs-2
                    ul(class="nav nav-pills nav-stacked affix")
                        li
                            a(href="#intro") Intro
                        li
                            a(href="#showcase") Showcase
                        li
                            a(href="#skills") Skills
                        li 
                            a(href="#contact") Contact
        