doctype html
html
    head
        title Sandeep Khandewale's portfolio

        meta(charset="UTF-8") 
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono")
        
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")      
        link(rel="stylesheet", href="dist/css/app.css")
        
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    body
        nav
            a(href="#intro") Intro
            a(href="#techs") Techs
            a(href="#showcase") Showcase
        section#intro
            img
            h1 Full-stack Developer (JavaScript)
        section#techs Techs
        section#showcase Showcase
        script(type="text/javascript", src="dist/js/index.js")
