doctype html
html
    head
        title Pomodoro Clock

        meta(charset="UTF-8") 
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu")
        
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")        
        link(rel="stylesheet", href="dist/css/pomodoro-clock.css")
        
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    body
        nav.navbar.navbar-fixed-top
            .container-fluid
                ul.nav.navbar-nav.nav-pills
                    li
                        a#lnkIntro(href="#intro") Intro                
                    li
                        a#lnkTechs(href="#techs") Techs
                    li
                        a#lnkShowcase(href="#showcase") Showcase

        section#intro.text-center.vertical-center.full-height
            .container-fluid
                .row
                    .col-xs-12
                        img.img-responsive#myPic(src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/000/202/1b9/2c1dc5a.jpg")
                .row
                    .col-xs-12
                        h1 Sandeep Khandewale 
                        h3 Fullstack Developer (JavaScript)
                .row
                    .col-xs-12.social
                        a(target="_blank",href="https://www.linkedin.com/in/sandeepkhandewale/") 
                            i(class="fa fa-5x fa-linkedin-square")
                        a(target="_blank",href="https://www.facebook.com/skhandewale") 
                            i(class="fa fa-5x fa-facebook-square")
                        a(target="_blank",href="https://www.github.com/learner1024") 
                            i(class="fa fa-5x fa-github-square")
        
        section#techs
            .container-fluid
                .row
                    .col-xs-12
                        h2.text-center Techs

                .panel.panel-default
                    .panel-heading
                        h3 Recent Skills 
                            small as Fullstack Developer
                    .panel-body
                        ul
                            li
                                h5 JavaScript / ES6
                            li 
                                h5 AngularJS, PolymerJS, JQuery
                            li
                                h5 NodeJS, ExpressJS
                            li
                                h5 PostGreSQL, MongoDB, CouchDB
                            li
                                h5 Hybrid Mobile Apps - Ionic
                    .panel-heading
                        h3 Past skills 
                            small as Web Developer .Net Stack
                    .panel-body
                        ul
                            li
                                h5 C#
                            li 
                                h5 ADO.Net, Entity Framework
                            li 
                                h5 ASP.Net Web Forms, ASP.Net MVC, ASP.Net Web API
                            li
                                h5 Umbraco
                            li 
                                h5 Silverlight
                            li 
                                h5 MSSQL server
                                
        
        section#showcase
            .container-fluid
                .row
                    .col-xs-12
                        h2.text-center Showcase
                        #showcaseItems.row
                            
                                
            
        script(type="text/javascript", src="dist/js/pomodoro-clock.js")
        
        