doctype html
html(lang="en")
    head
        title Sandeep Khandewale's portfolio

        meta(charset="UTF-8") 
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu")        

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")
        link(rel="stylesheet", href="dist/css/portfolio.css")  
    body
        .container
            nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
                button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                a.navbar-brand(href="#") SK
                #navbarSupportedContent.collapse.navbar-collapse
                    .navbar-nav
                        a.nav-item.nav-link(href="#") Intro
                        a.nav-item.nav-link(href="#") Tech                        
                        a.nav-item.nav-link(href="#") Showcase
                        

        .container
            #intro.full-height.vertical-center.text-center
                img(src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/000/202/1b9/2c1dc5a.jpg")
                .h1.display-3 Sandeep Khandewale

        .container
        .container
        .container

        script(type="text/javascript", src="https://code.jquery.com/jquery-3.1.1.slim.min.js")
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")
        script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js")
        script(type="text/javascript", src="dist/js/portfolio.js")
        
        