doctype html
html
    head
        title Sandeep Khandewale's portfolio

        meta(charset="UTF-8") 
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu")
        link(rel="stylesheet", href="dist/css/portfolio.css")
        
    body
        ul.navig
            li 
                a(href="#intro") intro
            li 
                a(href="#techs") techs
            li 
                a(href="#showcase") showcase
            li 
                a(href="#contact") contact
        section#intro
            h1 H1            
        section#techs
            h2 H2
        section#showcase
            h3 H3
        section#contact
            h4 H4
            

        script(type="text/javascript", src="dist/js/portfolio.js")
        
        