doctype html
html
    head
        title Simon Game!

        meta(charset="UTF-8") 
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu")

        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css") 
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css")
 
        link(rel="stylesheet", href="dist/css/simon.css")
        
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        script(type="text/javascript", src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js")
        
    body
        #blocksContainer
            .blocks                
                #block1.block
                #block2.block
            .blocks                
                #block3.block
                #block4.block
            #controls
                h1 Simon
                h2
                    span#count.label.label-default.hide 0
                h2
                    span#result.label.label-default.hide
            .row
                .col-xs-12.text-center
                    br
                    br
                    .btn-group(role="group")                    
                        a#btnNew.btn.btn-default(href="#")
                            i.fa.fa-play
                        a#btnStop.btn.btn-default.hide(href="#")
                            i.fa.fa-stop
                        input#toggleStrict(type="checkbox")


                            
        script(type="text/javascript", src="dist/js/simon.js")
        script(type="text/javascript", src="dist/js/simon-ui.js")