doctype html
html
    head
        title Simon Game!

        meta(charset="UTF-8") 
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu")
        
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")        
        link(rel="stylesheet", href="dist/css/simon.css")
        
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    body
        section.vertical-center
            .container-fluid
                .row
                    .col-xs-12
                
                        .panel.panel-default
                            .panel-heading
                                .panel-title.text-left
                                    h1 Simon!
                                .btn-group(role="group")
                                    a.btn.btn-default 1
                                    a.btn.btn-default 2
                                    a.btn.btn-default 3                   
                                                        
                                
                            .panel-body#blocks
                                .row
                                    .col-xs-6#block1 
                                    .col-xs-6#block2 
                                .row
                                    .col-xs-6#block3 
                                    .col-xs-6#block4
                                
                            .panel-footer

        

            
                        
                                    
                                                     
        script(type="text/javascript", src="dist/js/simon.js")
        script(type="text/javascript", src="dist/js/simon-ui.js")