doctype html
html
    head
        title Simon Game!

        meta(charset="UTF-8") 
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu")

        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css") 
 
        link(rel="stylesheet", href="dist/css/simon.css")
        
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    body
        #blocksContainer
            .blocks                
                #block1.block
                #block2.block
            .blocks                
                #block3.block
                #block4.block
            #controls
                h1 Simon

                            
        script(type="text/javascript", src="dist/js/simon.js")
        script(type="text/javascript", src="dist/js/simon-ui.js")