doctype html
html
    head
        title TicTacToe

        meta(charset="UTF-8") 
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu")
        
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")        
        link(rel="stylesheet", href="dist/css/ttt.css")
        
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    body

        section.vertical-center.full-height.text-center

            .container-fluid
                .panel.panel-default
                    .panel-heading.text-left
                        .panel-title
                            h1 Tic Tac Toe!
                        .row
                            .col-xs-4.text-left
                                h3 
                                    | X
                                    small#xPlayer  (you)
                                h3#pointToXplayer
                                    small.fa.fa-arrow-up
                            .col-xs-4.text-center
                                h3#wonLoseDisplay                                     
                            .col-xs-4.text-right
                                h3
                                    | O
                                    small#oPlayer  (pc)
                                h3#pointToOplayer
                                    small.fa.fa-arrow-up                                    
                        
                    .panel-body#blocks
                        .row
                            .col-xs-4#i0
                            .col-xs-4#i1
                            .col-xs-4#i2
                        .row
                            .col-xs-4#i3
                            .col-xs-4#i4
                            .col-xs-4#i5              
                        .row
                            .col-xs-4#i6
                            .col-xs-4#i7
                            .col-xs-4#i8   
                    .panel-footer
                        .row
                            .col-xs-6
                                h3#btnNewGame
                                    i.fa.fa-play
                                    small  (reset)
                            .col-xs-6
                                h3#btnSwitch
                                    i.fa.fa-exchange
                                    small  ( X / O )
                                    
                                                     
        script(type="text/javascript", src="dist/js/ttt.js")
        script(type="text/javascript", src="dist/js/ttt-ui.js")