doctype html
html
    head
        title Wiki Viewer

        meta(charset="UTF-8") 
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu")
        
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")        
        link(rel="stylesheet", href="dist/css/app.css")
        
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    body
        section
            .container-fluid
                .row
                    .col-xs-12
                        h2 Wiki Viewer
                .panel.panel-default.fullpageheight
                    .panel-heading
                        form.form-inline
                            div.form-group
                                input#searchText.form-control(type="search")
                                input#btnSearchWiki(type="button", value="Search Wiki")
                                span  
                                a(href="https://en.wikipedia.org/wiki/Special:Random", target="_blank") (or go to random wiki article)
                                
                            div
                    .panel-body
                        ul#searchResults                         
                                
            
        script(type="text/javascript", src="dist/js/wiki-viewer.js")
                
        
        